
<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <a style="text-decoration: none; color: rgb(32, 32, 32);"><h5 class="fw-bolder">{{product.nameProduct}}</h5></a>
                <!-- Product price-->
                $${{product.price}} - ${{product.priceAPI | number:'2.0-0'}}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div (click)="addItemToCart()" class="text-center"><a class="btn btn-outline-dark mt-auto">Add to cart</a></div>
        </div>
    </div>
</div>
