/**********************************/
/********** Sidebar CSS ***********/
/**********************************/
.sidebar-widget {
    padding: 30px;
    background: #ffffff;
  }
  
  .sidebar-widget:not(:first-child) {
    padding-top: 0;
  }
  
  .sidebar-widget .title {
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  
  .sidebar-widget.category {
    margin: 0;
  }
  
  .sidebar-widget.category .navbar {
    padding: 0;
    overflow: hidden;
    background: #ffffff !important;
  }
  
  .sidebar-widget.category .navbar-nav {
    width: 100%;
  }
  
  .sidebar-widget.category .navbar li {
    border-bottom: 1px solid #f3f6ff;
  }
  
  .sidebar-widget.category .navbar li:last-child {
    border-bottom: none;
  }
  
  .sidebar-widget.category .navbar a {
    color: #353535;
  }
  
  .sidebar-widget.category .navbar a:hover {
    color: #FF6F61;
  }
  
  .sidebar-widget.category .navbar i {
    color: #FF6F61;
    width: 20px;
    text-align: center;
    margin-right: 8px;
  }
  
  .sidebar-widget.category .navbar a:hover i {
    color: #353535;
  }
  
  .sidebar-widget.brands ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-widget.brands ul li {
    margin-bottom: 12px; 
  }
  
  .sidebar-widget.brands ul li:last-child {
    margin-bottom: 0; 
  }
  
  .sidebar-widget.brands ul li a {
    color: #353535;
    white-space: nowrap;
    display: inline-block;
    line-height: 23px;
    transition: all .3s;
  }
  
  /*.sidebar-widget.brands ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
  }*/
  
  .sidebar-widget.brands ul li a:hover {
    color: #FF6F61;
  }
  
  /*.sidebar-widget.brands ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }*/
  
  .sidebar-widget.brands ul li a:hover {
    padding-left: 10px; 
  }
  
  .sidebar-widget.brands ul li span {
    display: inline-block;
    float: right;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
  }
  
  .sidebar-widget.widget-slider {
    position: relative;
  }
  
  .sidebar-widget.image a {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  
  .sidebar-widget.image img {
    max-width: 100%;
    transition: .3s;
  }
  
  .sidebar-widget.image img:hover {
    transform: scale(1.1);
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  
  .sidebar-widget.tag a {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 3px 8px;
    font-size: 14px;
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: .3s;
  }
  
  .sidebar-widget.tag a:hover {
    color: #ffffff;
    background: #FF6F61;
    border-color: #FF6F61;
  }