/**********************************/
/********* My Account CSS *********/
/**********************************/
.my-account {
  position: relative;
  padding: 30px 0;
  height: 100%;
}

.my-account .nav.nav-pills .nav-link {
  padding: 10px 15px;
  color: #353535;
  background: #efeded;
  border-radius: 0;
  border-bottom: 1px solid #dddddd;
  transition: all .3s;
}

.my-account .nav.nav-pills .nav-link:last-child {
  border-bottom: none;
}

.my-account .nav.nav-pills .nav-link:hover,
.my-account .nav.nav-pills .nav-link.active {
  color: #ffffff;
  background: #FF6F61;
}

.my-account .nav.nav-pills .nav-link i {
  margin-right: 5px;
}

.my-account .tab-content {
  padding: 30px;
  background: #ffffff;
}

.my-account .tab-content .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.my-account .tab-content .table .thead-dark th {
  text-align: center;
  color: #353535;
  background: #ffffff;
  border-color: #dddddd;
  border-bottom: none;
  vertical-align: middle;
}

.my-account .tab-content .table td {
  vertical-align: middle;
}
